@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import "reset.css";
@import "variables.css";

/*screen header*/
@import "screen-header/gnb.css";
@import "screen-header/lnb.css";
@import "screen-header/middle.css";

/*item filter */
@import "itemFilter/combination-container.css";
@import "itemFilter/item-filter.css";
/*else*/
@import "wallpaper.css";
@import "item-filter.css";


body{
    font-family : 'Noto Sans';    
    height : 1000vh; 

}

.hidden{
    display : none;
}

.bold{
    font-weight : 700;
}

.white{
    color : white;
}

.line{
    text-decoration: solid underline var(--black) 2px;
}

.active{
    display : block;
}

.container{
    width : 1140px;
    margin : 0 auto;
}

