[class ^= b-]{
    box-sizing: border-box;
}



.b-gnb{
    border-bottom : 1px solid hsla(0,0%,100%, .1);
    padding : 10px;
}

.b-container{
    margin: 0 auto;
}

.b-gnb-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.b-gnb-service{
    display: flex;
    align-items: center;
}

.b-gnb-service>a>img{
    width : 20px;
    height : 20px;
    display:block;
    box-sizing: border-box;
}
.b-service-menu{
    display:flex;
}

.b-service-divider{
    width : 1px;
    height : 13px;
    background-color :hsla(0,0%,100%, .1);
    margin-right: 10px;
    margin-left : 10px;
}

.b-service a{
    color : white;
}

.b-service-bold{
 font-weight: 700;
}

.b-service-item{
    opacity : 0.7;
}

.b-lnb{
    position : relative;
    z-index:1000;
}

.b-lnb-pc{
    position:relative;
    height:56px;
    overflow:hidden;
    
    
}

.b-lnb-pc:hover{
    height:56px;
    overflow: initial;

}

.bg-opacity-25{
    --tw-bg-opacity:0.25;
}

.bg-#000000{
 background-color: rgb(0 0 0 /var(--tw-bg-opacity));
}

.b-lnb-pc-container{
    position:absolute;
    width : 100%;
}



.b-lnb-pc-content{
    display: flex;
    color : white;
    font-size: 20px;
}

.b-lnb-pc-sub{
    padding-bottom:20px;
    padding-top : 8px;
}

.b-lnb-pc-list{
    
    width : 110px;
    display:flex;
    flex-direction: column;
    flex-shrink : 0;
    list-style: none;
    margin: 0 60px 0 0;
    padding : 0;
    z-index : 10;
}

.b-lnb-pc-list-menu{
    align-items: center;
    display: inline-block;
    padding-bottom :20px;
    padding-top:20px;
    text-align: center;
    font-size: 17px;
}

.b-lnb-pc-list-sub{
    display: flex;
    flex-direction: column;
   padding-bottom : 20px;
   padding-top:8px;
}

.b-lnb-pc-sub-menu:hover{
    background-color:#222327 ;
    border-radius: 5px;
}

.screen-header-bg{
    background-image : url("https://i.ytimg.com/vi/CwQHuN0ZiA4/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.b-gnb-locale{
    display: flex;
    align-items: center;
}

.b-locale{
    display:flex;
    flex-direction: colomn;
    height : 44px;
    justify-content: center;
    position:relative;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.b-locale-button img{
    height : 15px;
    width : 15px;
    overflow : clip;
}



.b-service-menu a{
    color : white;

}
.b-locale-list a{
    color : white;
}

.b-locale-list{
    display: flex;
    flex-direction: column;
}