.screen-header{
    background-color: #36444F;
    box-sizing: border-box;
    
}

.screen-header__top{
    padding : 10px;
    display: flex;
    justify-content: space-between;
    position : relative;
}

.screen-header__top__column:last-child{
    display: flex;
    justify-items: flex-end;
}

.screen-header__top__menu{
    display:flex;
    list-style-type: none;
    font-weight :100;
    font-size : 13px;
    align-items: center;
}

.screen-header__top__menu .divider{
    width : 2px;
    height : 15px;
    color : white;
}

hr.solid{
    height : 10px;
    border-right: 2px solid white;
    margin-right : 13px;
    margin-left : 13px;
}

.screen-header__top__menu{
    color : white;
    
}

.btn-bold{
    font-weight :700;    
}

.btn-blur{
    opacity : 0.8
}

.screen-header__top__column:last-child button{
    background-color: #36444F;
    color: white;
    border: none;
}

.screen-header__top__menu__btn:hover{
    opacity : 1;
    font-size : 14px;
}

.screen-header__middle{
    padding : 15px;
    display: flex;
    justify-content: space-between;
}

.screen-header__middle__column:first-child button{
    height : 40px;
    width : 75px;
    border-radius: 5px;
    background-color: #222222;
    border : none;
}

.screen-header__middle__column:first-child button i{
    color :#F8AF38;    
}
.screen-header__middle__title{
    font-size : 20px;
    color : white;
}

.search{
    background-color: white;
}