.screen-header__lnb{
    position : relative;
    height : 56px;
}


.lnb-container{
    display: flex;  
    position : absolute;
    width : 100%;
    box-sizing : border-box; 
    
    
}

.lnb-container__part{
     flex-direction: column;
     padding-left : 15px;
     padding-right : 15px;
     
}

.lnb-list-container{
    display: flex none;
    flex-direction: column;
    color : white;
}


.lnb-title{
    padding-top : 20px;
    padding-bottom : 20px;
}


.lnb-list{
    padding : 10px 0;
}
